.header{
    position: fixed;
    top:    0;
    background-color:lightskyblue;
    height:  7%;
    width: 100%;
    z-index: 8;
    border: skyblue;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.logo {
    height: 99%;
    margin-left: 35%;
}

.cart{
    height: 99%;
    float: left;
    margin-left: 5%;
    
}

.orientation{
    height: 99%;
    float:right;
    margin-right: 4%;
    cursor: pointer;
    
}

.show{
    visibility: visible;
    z-index: 7;
    height: auto;
    width: 13%;
    position: sticky;
    
    margin-left: 84.5%;
    border: black;
    border-width: 1px;
    padding: 1%;
    margin-top: -0.5%;
    border-style: solid;
    border-top-color: skyblue;
    border-top-width: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: skyblue;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hide {
    visibility: hidden;
}

.button{
    background:none;
    border:none;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




