<div class="header">
    
    <img class="cart" (click)="service.setView()" src="../../assets/images/cart.png" alt="bouton de charriot">   
    
    <img class="logo" src="../../assets/images/logo.png" alt="logo du magasin">
    
    <img class="orientation" (click)="popup()" src="../../assets/images/menu.png" alt="menu de naviagation">

    <div class="hide" id="popup">

        <button class="button" (click)="service.setArticles()">Magasiner</button>
        <hr>
        <button class="button" (click)="service.setLocation()">Contact</button>
        <hr>
        <button class="button" (click)="service.setGerant()">Gérant</button>
        <hr>

    
    </div>

</div>
<a name="magasiner"></a>