<div class="footer">
    <p class="nom">Zakary Akram-Huard   AKRZ73010001</p>   
    <p class="ecole">UQAM</p>
    <a class="bd" href="../../assets/json/bd.json">base de donne</a>
    <a class="commandes" href="../../assets/json/commandes.json">commandes</a>
</div>