.footer {
    position: fixed;
    bottom:    0;
    background-color:lightskyblue;
    height:  4%;
    width: 100%;
    z-index: 8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: row;
    border: skyblue;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    }
.nom {
    margin-top: 0%;
    margin: auto;
}

.ecole {
    margin-top: 0%;
    margin: auto;
    
}

.bd {
    margin-top: 0%;
    margin: auto;
    
}
.commandes {
    margin-top: 0%;
    margin: auto;
}