<b class="title" >Gérant</b>
<a name="gerant"></a>
<div class="contenant">
    <div class="photo">
        <img class="gerant" src="../../assets/images/gerant.jpg" alt="photo du gernat">
    </div>
    <div class="text">
        <p>j'ai fondé la boutique electroniquesIQ en 2008 avec l'intention de fournir les meilleurs services de vente d'electroniques de la region. mes prix sont competitif et mes conseils n'ont pas de prix. si vous avez des problemes elecroniques, elecroniqueIQ est la pour vous!</p>
        <button class="button" (click)="setContact()">Contactez-moi</button>
    </div>


</div>

