<b class="title" >Contactez-Nous</b>
<div class="contenant">
    <div class="photo">
        <img class="map" src="../../assets/images/map.png" alt="carte google du magasin">
    </div>
    <div class="text">
        <p>numero de téléphone: 01224-645-654</p>
        <p>courriel: electroniquesIQ@gmail.com</p>
        <p>adresse: 54 john street</p>
    </div>

</div>