
.main{
  background-color: whitesmoke;
}
.grid-container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    gap: 0px 0px;
    grid-template-areas: "left middle right";
    position: relative;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    
    
  }
  
  .middle { grid-area: middle;
    background-color: whitesmoke;
    
        
    }
  
  .left { grid-area: left;
        background-color: whitesmoke;
        
    }
  
  .right { grid-area: right;
        background-color: whitesmoke;
        
     }

h1 {
    color: #369;
    font-family: Arial;
    font-size: 250%;

}
.articles{
    padding-top: 1%; 
    margin: auto;
}
.body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.gerant{
  margin: auto;
  padding-top: 1%; 
}
.location{
  margin: auto;
  padding-top: 1%; 
}
