<div class="main">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="grid-container">
        <div class="left"></div>
        <div class="right"></div>
        <div class="middle">
        <div class="body">
            
            <div class="banner">
                <app-banner></app-banner>
            </div>
            
            <div class="articles" *ngIf="this.service.articles">
                <app-articles></app-articles>
            </div>
            <div class="location" *ngIf="this.service.location">
                <app-location></app-location>
            </div>
            <div class="gerant" *ngIf="this.service.gerant">
                <app-gerant></app-gerant>
            </div>
            <div class="view" *ngIf="this.service.view">
                <app-view></app-view>
            </div>
            <div class="payer" *ngIf="this.service.payer">
                <app-payer></app-payer>
            </div>
            
        </div> 
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>

    