<b class="title" >payer</b>
<a name="gerant"></a>
<div class="contenant">
    <div class="photo">
        <p>Afin de payer pour votre commande vous allez devoir envoyer un courrier interact.</p>
        <p>le payement doit etre envoyé a: electroniquesIQ@gmail.com</p>
        <p>la question de sécurité doit etre votre numero de commande et le mot de passe doit être l'identifiant du premier item de la commande</p>
    </div>
    <div class="text">
        <p>question de sécurité:</p>
        <p>mot de passe:</p>
        <p>heure de ramassage:</p>
        <p>numero de commande:</p>
        <p>votre premier item:</p>
        <p>total de vos achats:</p>
    </div>


</div>