.contenant{
  width:80%;
  height:40%;
  border: skyblue;
  border-style: solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-width: 4px;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: rgba(224, 219, 219, 0.808);
}

.photo{
  float: left;
  width:49%;
  margin-top: 4%;
}

.text{
  float: right;
  width:49%;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 10%;
}

.gerant{
  height: 100%;
  width: auto;
}

.title{
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left:9.5%;
  bottom: 0;
  background-color: skyblue;
  border: skyblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-right: 10px;
}

.button {
  border: rgb(250, 209, 133) solid 1px;
  padding:5%;
  margin-top: 10%;
}