.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    gap: 1px 1px;
    grid-template-areas: "photo nom prix" "photo marque counter" "photo description id";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: whitesmoke;
    position: relative;
    background-color: rgba(224, 219, 219, 0.808);
  }
  
  .photo { grid-area: photo;

    }
    .photo img{ 
        margin-top: 10%;
        max-width: 95%;
        max-height: 95%;
    }
  
  .nom { grid-area: nom;
    margin-top:2%;
    margin-left: 15%;
    }
  
  .marque { grid-area: marque; 
    margin-left: 15%;
    }
  
  .description { grid-area: description;
        border-style: solid;
        border-width: 2px;
        border-color: lightgray;
        margin-right: 8%;
        margin-bottom: auto;
        margin-left: 15%;
        margin-right: 1%;
        padding: 2%;
        
    }
  
  .prix { grid-area: prix;
    text-align: right;
    margin-bottom: auto;
    padding-top: 5%;
    }
  
  .counter { 
    grid-area: counter;
    width: 80px;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 60%;
  }
  
  .id { grid-area: id;
        text-align: right;
        margin-top: auto;
    }

  .article{
    border-top-width: 1px; 
    border-right: solid;
    border-top: solid;
    border-top-color: rgba(138, 141, 140, 0.808);
    border-right-width: 8px;
    border-right-color: lightskyblue;
    max-height: 50%;
    width:98%;
    position:relative;

  }
  
  .container{
    width: auto;
    height: 300px;
    width: 630px;
    margin-left: auto;
    overflow: auto;
    position: relative;
    border-style: solid;
    border-color: lightskyblue;
    border-right: none;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    background-color: whitesmoke;
    display: inline-flexbox;
  }
  .title{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:auto;
    bottom: 0;
    background-color: skyblue;
    border: skyblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-right: 10px;
}

.image1{
  width: auto;
  height: 60%;
  border: skyblue;
  border-style: solid;
  border-width: 3px;
  border-right-width: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
}
.image2{
  height: 60%;
  width: auto;
  border: skyblue;
  border-style: solid;
  border-width: 3px;
  border-left-width: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
}
.number{
  background-color: white;
  width: 100%;
  height: 100%;
  border: skyblue;
  border-style: solid;
  border-width: 3px;
}
.center{
  margin-left:40%;
  margin-top: 10%;
}
  