
<b class="title" name="magasiner">Magasiner</b>
<div class="container">
  <ng-container *ngFor="let article of articleList; let i=index">
    <div class="article" >
        
        <div class="grid-container">
            <div class="photo"><img src={{printPicture(i)}} alt="a picture of the product"></div>
            <div class="nom">{{printName(i)}}</div>
            <div class="marque">{{printBrand(i)}}</div>
            <div class="description">{{printDescription(i)}}</div>
            <div class="prix">{{printPrice(i)}}</div>
            <div class="counter">
              <img class="image1" (click)="this.service.less(i,printPrice(i))" src="../../assets/images/remove.png">
                
              <div class="number">
                <div class="center">
                  <div >{{this.service.number[i]}}</div>
                </div>
              </div>
              <img class="image2" (click)="this.service.add(i,printPrice(i))" src="../../assets/images/add.png">
            </div>
            <div class="id">{{printID(i)}}</div>
          </div>
    </div>
  </ng-container>
</div>
<a name="contact"></a>