.container{
    height: auto;
    max-height: 200px;
    width: 500px;
    margin: auto;
    overflow: auto;
    position: relative;
    border-style: solid;
    border-color: lightskyblue;
    border-right: none;
    background-color: whitesmoke;
    display: inline-flexbox;
  }
  .articles{
        border-top-width: 1px; 
        border-right: solid;
        border-top: solid;
        border-top-color: rgba(138, 141, 140, 0.808);
        border-right-width: 8px;
        border-right-color: lightskyblue;
        max-height: 50%;
        width:auto;
        position:relative;
        display: flex;
        
  }

  .element {
      font-size: large;
      margin: auto;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-right:2%;
      margin-left: 5%;
  }

  .prix {
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    margin: auto;
    margin-right: 5%; 
  }
  .prix2 {
    
    margin: auto;
    margin-right: 5%; 
  }
  .title{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:20%;
    background-color: skyblue;
    border: skyblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-right: 10px;
}
    .payer{
        margin-top: 5%;
        margin-left: 20%;
        background-color: lightgray;
        border: skyblue solid 2px;
        font-size: medium;
    }
