<b class="title" name="commander">commander</b>
<div class="container">
    <ng-container *ngFor="let number of service.number; let i=index">
        <div class="articles" *ngIf="service.number[i]>0">
            <div class="element">{{printID(i)}}</div>
            <div class="element">{{printName(i)}}</div>
            <div class="element">{{service.number[i]}}</div>
            <div class="prix">{{this.printPrice(i)*service.number[i]}}</div>
        </div>
    </ng-container> 
    <div class="articles">
        <div class="prix2">total: {{this.service.sum}}</div>
    </div>
</div>
<button class="payer" (click)="this.service2.setPayer()">payer</button>
